{$DOMAIN} {
	tls noreply@hm.edu {
		ca https://acme.hm.edu/acme/acme/directory
		eab {$ACME_EAB_KID} {$ACME_EAB_HMAC_ENCODED}
	}

	header {
		-Server
	}

	encode gzip

	reverse_proxy http://shibboleth-oidc-poc:3000
}
